<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Custom Journey Builder Activity</title>

    <link rel="stylesheet" href="{{ css_path }}style.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    
    <script type="text/javascript" src="/js/require.js"></script>    
    <script type="text/javascript">
        
        (function() {
            var config = {
                baseUrl: 'js'
            };

            var dependencies = [
                'customActivity'
            ];

            require.config({
                urlArgs: "bust=" + (new Date()).getTime()
            })

            require(config, dependencies);
        })();
        
        /*
        function clickbutton() {
            var message = 'test';
            //$("#message1").css( "border", "3px solid blue" );
            alert('HEY!!');
            //$("#message1").html("there" + message);
            var url = "http://127.0.0.1:5000/journeybuilder/getdefields/"; 
            
            var sendInfo = {
                DECustomerKey: message,
            };
            var de_fields = "";
            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                success: function (msg) {
                    if (msg) {
                        //alert('HEY 2!');
                        //alert(JSON.stringify(msg));
                        de_fields = JSON.stringify(msg);
                        location.reload(true);
                    } else {
                        alert("Cannot add to list !");
                    }
                },

                data: sendInfo
            });

            $("#message").html(de_fields);
            //connection.trigger('updateButton', { button: 'next', enabled: Boolean(message) });

        }
        */

    </script>

    <!--Styles-->
    <style type="text/css">
        body {
            padding: 20px;
            margin: 0;
        }
        .step {
            display: none;
        }
        #step1 {
            display: block;
        }
    </style>

</head>
<body>

<div id="step1" class="step">
    <div class="scm-common-header slds-m-top_medium slds-m-horizontal_medium slds-m-bottom_small" style="display: block;">
        <div class="scm-common-header-flex slds-is-relative">
            <div class="scm-common-header-text-container slds-has-flexi-truncate slds-is-relative">
                <div class="scm-common-header-text slds-text-heading_medium slds-text-color_default slds-truncate" title="Push Notification Activity Summary">Interaction Studio Event</div>
                <div class="scm-common-header-subtext slds-text-body_regular slds-text-color_weak slds-truncate slds-hide"></div>
            </div>            
            <div class="scm-common-header-close-button-container">
                <svg class="scm-common-header-close slds-icon slds-icon_small slds-m-top_xx-small slds-m-left_x-small scm-header-close" aria-hidden="true" style="display: block;">
                    <!--use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use-->
                </svg>
                <svg class="scm-common-header-back slds-icon slds-m-top_xx-small  slds-m-left_x-small scm-header-back" aria-hidden="true" style="display: none;">
                    <!--use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#back"></use-->
                </svg>
                <div class="popover-target slds-is-relative"></div>
            </div>
        </div>
    </div>
    <div class="scm-common-body slds-is-relative">
        <div class="scm-element slds-m-top_none slds-p-horizontal_medium slds-p-bottom_medium slds-is-absolute" data-state="transient" data-view="summary" style="display: block;">
            <div class="summary-view-container" data-detail="false" style="display: flex; width: 100%; height: 100%;">
                <div class="summary-view">
                    <div class="activity-detail slds-grid slds-m-bottom_medium">


                        <div class="slds-col slds-size_1-of-2 slds-p-right_small activity-name-container">
                            <div class="slds-form-element">
                                <label id="activity-name_label" class="slds-form-element__label slds-text-title_caps" for="activity-name-input">
                                ENTRY DATA EXTENSION CUSTOMER KEY
                                </label>
                                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right slds-border_bottom">
                                    <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default scm-anchor-right" aria-hidden="true">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="scm-anchor-right">
                                            <path d="M4.4 15.4l4.1 4.1c.2.2.5.2.6 0L19.4 9.2c.2-.2.2-.4 0-.6l-4.1-4.1c-.2-.2-.4-.2-.6 0L4.4 14.8c-.2.2-.2.5 0 .6zM16.7 2.6c-.2.2-.2.5 0 .7l4 4c.2.2.5.2.7 0l1.1-1.1c.8-.7.8-1.8 0-2.6l-2.1-2.1c-.8-.8-1.9-.8-2.7 0l-1 1.1zM1 22.2c-.1.5.3.9.8.8l5-1.2c.2 0 .3-.1.4-.2l.1-.1c.1-.1.1-.4-.1-.6l-4.1-4.1c-.2-.2-.5-.2-.6-.1l-.1.1c-.1.1-.2.3-.2.4l-1.2 5z"></path>
                                        </svg>
                                    </svg>
                                    <div id="activity-name">
                                        <input type="text" id="activity-name-input" class="slds-input slds-input_bare slds-p-around_none" value="">
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>

                    <div class="activity-detail slds-grid slds-m-bottom_medium"></div>
                    <div class="activity-detail slds-grid slds-m-bottom_medium"></div>
                    <div class="activity-detail slds-grid slds-m-bottom_medium"></div>
            
                    <button id="submit" onclick="clickbutton()">Get Data Extension Fields</button>
            
                </div>
            </div>
        </div>
    </div>
</div>
<div id="step2" class="step">
    Here's a second page with some info on it.
    {{ message }}
</div>
<div id="step3" class="step">
    You chose the message: <div id="message"></div>
</div>
<div id="step4" class="step">
    Hey, here's a fourth step, just for you.  Toggle this on or off from step 1.
</div>
</body>
</html>